.review-section {
  padding-top: 90px;
  width: 100%;
  min-height: 80vh;
  background-color: #ced8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease;
  box-sizing: border-box;
  position: relative;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .review-section {
    padding-top: 70px;
  }
}

@media (max-width: 768px) {
  .review-section {
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 480px) {
  .review-section {
    padding-top: 50px;
  }
}

@media (max-width: 320px) {
  .review-section {
    padding-top: 40px;
  }
}
/* -------------------------------
   Dark Theme Overrides
---------------------------------- */
[data-theme="dark"] .review-section {
  background: #1e293b;
}
