* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.dashboard-wrapper {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 260px 1fr 300px;
  min-height: 100vh;
  background: #f6f7fb;
}

/* ========== SIDEBAR ========== */
.sidebar {
  background: #fff;
  /* width: 900px; */
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo {
  font-weight: 700;
  font-size: 22px;
}

.search {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.nav {
  display: block;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: transparent;
  text-align: left;
  cursor: pointer;
}

.nav.active {
  background: #e91e63;
  color: #fff;
}

.mobile-app {
  margin-top: auto;
  background: #f2f2f2;
  padding: 15px;
  border-radius: 15px;
}

/* ========== MAIN ========== */
.main {
  padding: 30px;
}

.header h1 {
  font-size: 28px;
}

.header p {
  color: #777;
}

.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 30px 0;
}

.stat-card {
  background: #fff;
  padding: 25px;
  border-radius: 18px;
  text-align: center;
}

.stat-card h2 {
  font-size: 28px;
}

/* ========== CONTENT ========== */
.content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card {
  background: #fff;
  padding: 25px;
  border-radius: 18px;
}

.progress-item {
  margin: 15px 0;
}

.bar {
  background: #eee;
  height: 8px;
  border-radius: 10px;
  overflow: hidden;
}

.bar div {
  height: 100%;
  background: #e91e63;
}

.donut {
  display: flex;
  align-items: center;
  gap: 20px;
}

.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 12px solid #4dabf7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.red {
  background: #e91e63;
}
.blue {
  background: #4dabf7;
}
.cyan {
  background: #4dd0e1;
}

.donut span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 6px;
}

/* ========== PROFILE ========== */
.profile {
  background: #fff;
  padding: 30px;
  text-align: center;
}

.profile img {
  width: 100px;
  border-radius: 50%;
}

.profile-stats {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.stat-card.large {
  grid-column: span 2;
}

.stat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stat-header select {
  padding: 6px 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.hours-total {
  font-size: 32px;
  margin: 10px 0;
}

.hours-total span {
  font-size: 16px;
  color: #777;
}
